body{
    font-family: sans-serif;
    background-color: rgb(49, 49, 49);
    color: white;
}

code{
    background-color: rgb(70, 70, 70);
    padding: 2px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar{
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
}

button, select{
    cursor: pointer;
}

input, textarea, select, button{
    opacity: 0.6;
    background-color: rgb(70, 70, 70);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    transition: background-color 100ms, opacity 100ms, color 100ms;
}

button:hover,
textarea:hover,
textarea:focus,
select:hover,
select:focus,
input:hover,
input:focus{
    opacity: 1;
    color: white;
}

#footer{
    position: fixed;
    text-align: right;
    bottom: 2px;
    right: 2px;
}

#_uiBG{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
}

#_ui{
    backdrop-filter: blur(8px);
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid rgba(0, 0, 0, calc(1 / 5));
    padding: 5px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
